# GitLab CI/CD

image: golang:1.18.4-alpine3.16
variables:
  REMOTE: gitlab.com
  API_REMOTE: api.gitlab.com

cache: &global_cache
  key: $CI_COMMIT_REF_SLUG
  paths:
    - /go
  policy: pull-push

before_script:
  - apk update && apk upgrade && apk add git bash make build-base
  - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > ~/.netrc
  - chmod 640 ~/.netrc
  - go env -w GONOSUMDB=gitlab.com/pietroski-software-company
  - go env -w GONOPROXY=gitlab.com/pietroski-software-company
  - go env -w GOPRIVATE=gitlab.com/pietroski-software-company
  - go env -w GO111MODULE=on
  - go mod download

stages:
  - test
  - build
  - deploy

unity-tests:
  stage: test
  cache:
    <<: *global_cache
    policy: pull
  script:
    - go test $(go list ./... | grep -v /tests/ | grep -v /tools/ | grep -v /schemas/)

ltng-node-build:
  stage: build
  cache:
    <<: *global_cache
    policy: pull
  variables:
    CGO_ENABLED: 0
    GOOS: linux
    GOARCH: amd64
  script:
    - go build -ldflags="-w -s" -o lightning-db-node cmd/badgerdb/grpc/main.go

deploy-dev:
  stage: deploy
  script:
    - echo "deploy dev environment"
