# IDE's configs
.idea
.vscode
.run

# bagder-db default local manager directory
.db
.ltngdb
.ltngfq
.ltngfs
.ltngdb-docker-ltngdb-engine
.ltngdb-docker-badgerdb-engine

ltngdb

.ltng_database
.ltng_file_queue
.ltng_file_storage
.DS_Store

# credential files
.netrc

# env files
.local.env
.prod.env
.stg.env
.dev.env

# playgroud directory
playground

# profiling files
*.pprof

# report files
#drone-analysis
#drone-analysis.json

# doc report
docs/outputs/**
!docs/outputs/.gitkeep
