# GitLab CI/CD

image: golang:1.20.2-alpine3.17
variables:
  REMOTE: gitlab.com
  API_REMOTE: api.gitlab.com

.go-cache:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
  before_script:
    - mkdir -p $CI_PROJECT_DIR/.go/bin
    - apk update && apk upgrade && apk add git bash make build-base
  cache:
    paths:
      - $CI_PROJECT_DIR/.go/pkg/mod
      - $CI_PROJECT_DIR/.go/bin

stages:
  - dependency-cache
  - test
  - build
  - deploy

dependency-cache:
  stage: dependency-cache
  extends: .go-cache
  script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > ~/.netrc
    - chmod 400 ~/.netrc
    - go env -w GONOSUMDB=gitlab.com/pietroski-software-company
    - go env -w GONOPROXY=gitlab.com/pietroski-software-company
    - go env -w GOPRIVATE=gitlab.com/pietroski-software-company

unity-tests:
  stage: test
  extends: .go-cache
  script:
    - go test $(go list ./... | grep -v /tests/ | grep -v /tools/ | grep -v /schemas/)

ltng-node-build:
  stage: build
  extends: .go-cache
  variables:
    CGO_ENABLED: 0
    GOOS: linux
    GOARCH: amd64
  script:
    - go build -ldflags="-w -s" -o lightning-db-node cmd/badgerdb/grpc/main.go
    - cp lightning-db-node .go/bin/lightning-db-node

deploy-dev:
  stage: deploy
  extends: .go-cache
  script:
    - echo "deploy dev environment"
    - ls .go/bin
